/* ---------------------------------------------------
                      NAV STYLES
----------------------------------------------------*/
nav {
  //menu-items are displayed vertically
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.menu-item {
  color: #663333;
  flex-grow: 1;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  margin: 3px 0;
}

nav a {
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  background-color: #f7f7f7;
  color: #666633;
}

.main-navigation a:visited {
  color: rgb(106, 106, 106);
}

nav a:hover {
  color: #ff6699;
  transition: 0.5s color;
  background-color: #f0f0f0;
}

.main-navigation a:active {
  color: rgb(172, 140, 71);
}

@media screen and (min-width: 750px) {
  nav {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    display: flex;
    flex-direction: row;
  }

  nav a {
    background: none;
  }

  nav a:hover {
    background: none;
  }
}
